NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/fylo
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=super_secret_access_key_change_me_32chars_fylo
JWT_REFRESH_SECRET=super_secret_refresh_key_change_me_32chars_fylo
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLIENT_URL=http://localhost:5173
IMGBB_API_KEY=your_imgbb_key_here
TELEGRAM_BOT_TOKEN=optional_telegram_bot_token_for_FyloRobot
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,https://fylo.uz,https://www.fylo.uz
BCRYPT_ROUNDS=10
